@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@if (ViewData["Name"] != null && ViewData["Phone"] != null)
{
    <p>Name: @ViewData["Name"]</p>
    <p>Phone: @ViewData["Phone"]</p>
}


@if (ViewData["Size"] != null)
{
    <p>size: @ViewData["Size"]</p>
}
